*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.form{
    margin:auto;
    background-color: chartreuse;
    width: 700px;
    height: 300px;
    border-radius: 20px;
    margin-top: 50px;
}

.form-inputs{
    display: flex;
    justify-content: center;
}

input{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    width: 500px;
    height: 50px;
    border-radius: 20px;
}

button{
    width: 500px;
    height: 50px;
    cursor: pointer;
}

button:hover{
    background-color:rgb(115, 155, 75) ;
}

.sucess-message{
    background-color: green;
    width: 500px;
    padding: 10px;
    margin-top: 8px;
    color: white;
    display: none;
}


.error-message{
    background-color: red;
    width: 500px;
    padding: 10px;
    margin-top: 8px;
    color: white;
    display: none;
}

header{
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
}